#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .logo {
    margin-top: 80px;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .ant-drawer-header {
    position: relative;
    padding: 16px 24px;
    color: #fff!important;
    background: #001429!important;
    border-bottom: 1px solid #e8e8e8!important;
    border-radius: 0 0 0 0!important;
    color: "#fff"
}

.ant-drawer-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.ant-drawer-close {
  color: #fff; 
}